<!-- DETAIL -->
<section class="detail">
	<h2 class="title-section">Detail user</h2>
	<div class="content-section">
		<div class="detail-content center-width">
			<h3>User Log</h3>
			<table class="table">
				<thead>
					<tr>
						<th>User ID</th>
						<th>User Email</th>
						<th>Content log</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>ngocquyhoang.93@gmail.com</td>
						<td>Sign in</td>
						<td>29 NOV 2015</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ngocquyhoang.93@gmail.com</td>
						<td>Sign in</td>
						<td>29 NOV 2015</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ngocquyhoang.93@gmail.com</td>
						<td>Sign in</td>
						<td>29 NOV 2015</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ngocquyhoang.93@gmail.com</td>
						<td>Sign in</td>
						<td>29 NOV 2015</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ngocquyhoang.93@gmail.com</td>
						<td>Sign in</td>
						<td>29 NOV 2015</td>
					</tr>
					<tr>
						<td>1</td>
						<td>ngocquyhoang.93@gmail.com</td>
						<td>Sign in</td>
						<td>29 NOV 2015</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- User Details -->
		<div class="center-width">
			<h3>User details</h3>
			<table class="table">
				<tbody>
					<tr>
						<td>User ID</td>
						<td>1</td>
					</tr>
					<tr>
						<td>User Email</td>
						<td>ngocquyhoang.93@gmail.com</td>
					</tr>
					<tr>
						<td>User Name</td>
						<td>Do Tuan Anh</td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>Male</td>
					</tr>
					<tr>
						<td>Age</td>
						<td>22</td>
					</tr>
					<tr>
						<td>Comment count</td>
						<td>15</td>
					</tr>
					<tr>
						<td>Address</td>
						<td>126 - My Dinh street, Nam Tu Liem distric Ha Noi City</td>
					</tr>
					<tr>
						<td>Phone number</td>
						<td>0987789987</td>
					</tr>
					<tr>
						<td>Comment count</td>
						<td>15</td>
					</tr>
					<tr>
						<td>Create at</td>
						<td>29:11:12 11/21/2015</td>
					</tr>
					<tr>
						<td>Last sign in at</td>
						<td>29:11:12 11/21/2015</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.detail i").addClass('active-icon');
		$(".left-slider li.detail").addClass('active');
		$('title').html('Details user - Rails tutorial');
	});	
</script>