<!-- HOME -->
<section class="home">
	<h2 class="title-section">Home</h2>
	<div class="content-section">
		<div class="logo-group">
			<img src="/assets/Logo.png" class="logo-image">
			<p class="logo-name">Rails tutorial</p>
			<p class="logo-by">by <span>F-centos</span></p>
		</div>
		<div class="home-content">
		<!-- WELLCOME CONTENT -->
			<div class="wellcome center-width">
				<h4>Wellcome to Rails tutorial</h4>
				<p class="project-des">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		<!-- SIGN IN BUTTON -->
			<div class="signin-button">
				<button>Sign in to see more</button>
			</div>
		<!-- SIGN IN POPUP -->
			<div class="signin-form-box">
				<div class="signin-form">
					<div class="signin-form-title">
						<h4> Sign in / Sign up </h4>
						<img src="/assets/close-button-thin.png" alt="Close" title="Close" id="close">
					</div>
					<div class="signin-form-content">
						<h4 class="sign-up-title">Sign in</h4>
						<form method="POST" accept-charset="utf-8" class="form">
							<ul id="sign-in">
								<li><span class="label">User Name</span><input type="text" name="user_name" value="" placeholder="Enter user name"></li>
								<li><span class="label">Password</span><input type="password" name="password" value="" placeholder="Enter your password"></li>
							</ul>
							<input type="submit" name="sign-in" value="Sign in" class="submit-button">
						</form>
						<hr class="hr-line" />
						<h4 class="sign-up-title">or Sign up</h4>
						<form method="POST" accept-charset="utf-8" class="form">
							<ul id="sign-up">
								<li>
									<span class="label">Email</span>
									<input id="email" type="text" name="email-sign-up" value="" placeholder="Enter your email">
								</li>
								<li>
									<span class="label">Password</span>
									<input id="pwd" type="password" name="email-sign-up" value="" placeholder="Enter your password">
								</li>
								<li>
									<span class="label">Confirm Password</span>
									<input id="cpwd" type="password" name="email-sign-up" value="" placeholder="Enter your confirm password">
								</li>
							</ul>
							<input type="submit" name="sign-in" value="Sign up" class="submit-button">
						</form>
					</div>
				</div>
			</div>
		<!-- IF SIGNED -->
			<div class="more-info center-width">
				<hr />
				<div class="inline">
					<span class="label-infor">You can see source code on</span>
					<a href="https://github.com/ngocquyhoang/F_Centos" target="blank"><i class="fa fa-github"></i></a>
				</div>
				<div class="inline">
					<span class="label-infor">Find us on</span>
					<a href="https://www.facebook.com/ngocquyhoang.93" target="blank"><i class="fa fa-facebook" id="facebook"></i></a>
				</div>
				<div class="inline">
					<span class="label-infor">or Follow us on</span>
					<a href="https://twitter.com/malloryandbob" target="blank"><i class="fa fa-twitter" id="twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.home i").addClass('active-icon');
		$(".left-slider li.home").addClass('active');
		// Sign in form show javascript
		$("section.home .content-section .home-content button").click(function () {
			SigninForm();
		});
		$(".signin-form #close").click(function () {
			$("section.home .content-section .home-content .signin-form-box .signin-form").hide("slide", {direction:'up'} , "easeOutQuint ", 1000);
			$("section.home .content-section .home-content .signin-form-box").hide("slide", {direction:'up'} , "easeOutQuint ", 1000);
		});
	});	
</script>