<!-- SETTING -->
<section class="setting">
	<h2 class="title-section">Setting</h2>
	<div class="content-section">
		<div class="setting-content">
			<div class="coming-soon">
				<h2 class="text">Comming <br /> soon</h2>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.setting i").addClass('active-icon');
		$(".left-slider li.setting").addClass('active');
	});	
</script>