<!-- SETTING -->
<section class="setting">
	<h2 class="title-section">Setting</h2>
	<div class="content-section">
		<div class="setting-content">
			<div class="coming-soon">
				<h2 class="text">Comming <br /> soon</h2>
			</div>
		</div>
	</div>
</section>
