<!-- BLOG -->
<section class="blog">
	<h2 class="title-section">Blog</h2>
	<div class="content-section">
		<div class="blog-post-list">
			<% @Blog_post.each do |b| %>
				<div class="blog-post-content">
					<a href="/post"><h3 class="post-title"><%= b.title %></h3></a>
					<h4 class="time-post"><%= b.created_at %></h4>
					<a href="/post"><img src="/assets/fashion.jpg" alt="Post demo image" class="post-image" /></a>
					<div class="post-content center-width">
						<p>
							<%= b.content %>
						</p>
					</div>
				</div>
				<hr />
			<% end %>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.blog").addClass('active');
		$(".left-slider li.blog i").addClass('active-icon');
		$('title').html('Blog - Rails tutorial');
	});	
</script>