<!-- ABOUT US -->
<section class="about-us">
	<h2 class="title-section">About us</h2>
	<div class="content-section">
		<div class="about-member">
			<h3>Team member</h3>
			<ul class="team-member center-width">
				<li>
					<img src="/assets/toan.jpg" class="img-circle" alt="Team member avatar"/>
					<div>
						<h4>Nguyen Van Toan</h4>
						<h5>- developer</h5>
						<h5>- Team leader</h5>
					</div>
				</li>
				<li>
					<img src="/assets/quy.jpg" class="img-circle" alt="Team member avatar"/>
					<div>
						<h4>Hoang Ngoc Quy</h4>
						<h5>- designer, developer</h5>
						<h5>- Suport team leader</h5>
					</div>
				</li>
				<li>
					<img src="/assets/anh.jpg" class="img-circle" alt="Team member avatar"/>
					<div>
						<h4>Do Tuan Anh</h4>
						<h5>- developer</h5>
						<h5>- Team member</h5>
					</div>
				</li>
				<li>
					<img src="/assets/dung.jpg" class="img-circle" alt="Team member avatar"/>
					<div>
						<h4>Vu Tien Dung</h4>
						<h5>- developer, interpreter</h5>
						<h5>- Team member</h5>
					</div>
				</li>
				<li>
					<img src="/assets/huynh.jpg" class="img-circle" alt="Team member avatar"/>
					<div>
						<h4>Nguyen Viet Huynh</h4>
						<h5>- language suport</h5>
						<h5>- Team member</h5>
					</div>
				</li>
				<li>
					<img src="/assets/sy.jpg" class="img-circle" alt="Team member avatar"/>
					<div>
						<h4>Luong Tien Sy</h4>
						<h5>- technical suport</h5>
						<h5>- Team member</h5>
					</div>
				</li>
			</ul>
		</div>
		<div class="about-us-content">
			<h3>We are one</h3>
			<div class="about-us-info center-width">
				<img src="/assets/team.jpg" alt="Team member image" />
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function() {
		SetWidthValue();
		SetContentHeightValue();
		$(".content-section").mCustomScrollbar({theme:"light-thin",scrollButtons:{enable:true}});
		ShowSocialView();
		$(".left-slider li.about-us").addClass('active');
		$(".left-slider li.about-us i").addClass('active-icon');
		$('title').html('About us - Rails tutorial');
	});	
</script>